@model SiparisDetaylar

@{
    ViewData["Title"] = "Siparişi Sil";
}

<h2>Siparişi Sil</h2>

<h4>Bu Siparişi silmek istediğinize emin misiniz?</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Siparis ID</th>
            <th>Urun ID</th>
            <th>Adet</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.SiparisDetayId</td>
            <td>@Model.SiparisId</td>
            <td>@Model.UrunId</td>
            <td>@Model.Adet</td>
            <td>@Model.Fiyat</td>
        </tr>
    </tbody>
</table>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="SiparisId" />
    <button type="submit" class="btn btn-danger">Evet, Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>