@model SiparisDetaylar

@{
    ViewData["Title"] = "Sipariş Detayını Sil";
    var siparisNo = Model?.SiparisId;
}

<h2>Siparişi Sil</h2>

@if (siparisNo != null)
{
    <h4>Sipariş No: @siparisNo</h4>
}

<h4>Bu Siparişi silmek istediğinize emin misiniz?</h4>

<table class="table table-striped">
    <thead>
        <tr>
            @* <th>ID</th> *@
            @* <th>Siparis No</th> *@
            <th>Urun Adı</th>
            <th>Adet</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @* <td>@Model.SiparisDetayId</td> *@
            @* <td>@Model.SiparisId</td> *@
            <td>@Model.Urun.UrunAdi</td>
            <td>@Model.Adet</td>
            <td>@Model.Fiyat</td>
        </tr>
    </tbody>
</table>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="SiparisId" />
    <button type="submit" class="btn btn-danger">Evet, Sil</button>
    <a asp-action="Index" asp-route-siparisId="@Model.SiparisId" class="btn btn-secondary">İptal</a>
</form>