@model IEnumerable<SiparisDetaylar>

@{
    ViewData["Title"] = "Sipariş Detaylar";
}

<h2>Sipariş Detaylar</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>SiparisDetayId</th>
            <th>SiparisId</th>
            <th>UrunId</th>
            <th>Adet</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SiparisDetayId</td>
                <td>@item.SiparisId</td>
                <td>@item.SiparisId</td>
                <td>@item.Adet</td>
                <td>@item.Fiyat</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.SiparisDetayId" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>