@model IEnumerable<SiparisDetaylar>

@{
    ViewData["Title"] = "Sipariş Detaylar";
    var siparisNo = Model.FirstOrDefault()?.SiparisId;
}
<h2>Sipariş Detaylar</h2> 

@if (siparisNo != null)
{
    <h4>Sipariş No: @siparisNo</h4>
}

<table class="table table-striped">
    <thead>
        <tr>
            @* <th>Sipariş Detay No</th> *@
            @* <th>Sipariş No</th> *@
            <th>Ürun Adı</th>
            <th>Adet</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <td>@item.SiparisDetayId</td> *@
                @* <td>@item.SiparisId</td> *@
                <td>@item.Urun.UrunAdi</td>
                <td>@item.Adet</td>
                <td>@item.Fiyat</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.SiparisDetayId" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table

<form>
    <a asp-controller="Siparis" asp-action="Index" class="btn btn-sm btn-secondary">Geri</a>
</form>