@model IEnumerable<Siparisler>

@{
    ViewData["Title"] = "Siparişler";
}

<h2>Siparişler</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Musteri Adı</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SiparisId</td>
                <td>@item.MusteriAdi</td>
                <td>@item.SiparisTarihi</td>
                <td>
                    <a asp-controller="SiparisDetay"
                       asp-action="Index"
                       asp-route-siparisId="@item.SiparisId"
                       class="btn btn-sm btn-secondary">
                        Detaylar
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.SiparisId" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>