@model Tedarikciler

@{
    ViewData["Title"] = "Tedarikci Sil";
}

<h2>Tedarikci Sil</h2>

<h4>Bu Tedarikciyi silmek istediğinize emin misiniz?</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>FirmaAdi Adı</th>
            <th>Telefon</th>
            <th>Adres</th>
            <th>Aktif</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.TedarikciId</td>
            <td>@Model.FirmaAdi</td>
            <td>@Model.Telefon</td>
            <td>@Model.Adres</td>
            <td>@Model.AktifMi</td>
        </tr>
    </tbody>
</table>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TedarikciId" />
    <button type="submit" class="btn btn-danger">Evet, Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>