@model Urunler

@{
    ViewData["Title"] = "Ürün Sil";
}

<h2>Ürün Sil</h2>

<h4>Bu Ürünü silmek istediğinize emin misiniz?</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ürün Adı</th>
            <th>Açıklama</th>
            <th>Fiyat</th>
            <th>Stok Miktarı</th>
            <th>Kategori ID</th>
            <th>Tedarikçi ID</th>
            <th>Aktif</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.UrunId</td>
                <td>@Model.UrunAdi</td>
                <td>@Model.Aciklama</td>
                <td>@Model.Fiyat</td>
                <td>@Model.StokMiktari</td>
                <td>@Model.KategoriId</td>
                <td>@Model.TedarikciId</td>
                <td>@Model.AktifMi</td>
            </tr>
    </tbody>
</table>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="UrunId" />
    <button type="submit" class="btn btn-danger">Evet, Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>