@model Urunler

@{
    ViewData["Title"] = "Ürün Sil";
}

<h2>Ürün Sil</h2>

<h4>Bu Ürünü silmek istediğinize emin misiniz?</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ürün Adı</th>
            <th>Açıklama</th>
            <th>Fiyat</th>
            <th>Stok Miktarı</th>
            <th>Kategori Adı</th>
            <th>Tedarikçi Adı</th>
            <th>Aktif</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.UrunId</td>
                <td>@Model.UrunAdi</td>
                <td>@Model.Aciklama</td>
                <td>@Model.Fiyat</td>
                <td>@Model.StokMiktari</td>
                <td>@Model.Kategori.KategoriAdi</td>
                <td>@Model.Tedarikci.FirmaAdi</td>
                <td>@Model.AktifMi</td>
            </tr>
    </tbody>
</table>

<form>
    <a asp-controller="Urun" asp-action="Index" class="btn btn-info text-dark">Geri</a>
</form>